<header>
    <!-- Navbar -->
    
  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image">
      

      <div class="mask" style="background-color: rgba(96, 221, 223, 0.6); text-align:center;">
        <img style="height:100%" [src]="direccion">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Si desea empezar juego pulse el boton </h1>
            <button class="button" [routerLink]="['/usuario']" 
  >Empezar juego</button
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>