<header>
    <!-- Navbar -->
    
  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image">
      

      <div class="mask">
        <img style="height:100%" [src]="direccion">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h3 class="mb-3">Pulse el botón para comenzar</h3>
            <button class="button" [routerLink]="['/usuario']" 
  >Empezar juego</button
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>