<div id="goBack">
    <button type="button"  [routerLink]="['/partida']">
        <img [src]="goBackImage" width="30"/>
    </button>
    <button type="button" (click)="fireworks()" style="margin-top: 20px;">FIRE</button>
    
</div>
<div class="pyro" [hidden]="hideFire">
    <div class="before"></div>
    <div class="after"></div>
</div>
<div>
    <h1>Id de partida {{idT}}</h1>
    <app-columna *ngFor="let columna of columnas" id="{{columna}}" [mov]="columna" [idPartida]="idT"></app-columna>
   

</div>